:root {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e5/France_champion_of_the_Football_World_Cup_Russia_2018.jpg");
    font-size: 100%;
}

* { 
    font-family: fantasy;
    font-size: 50px;
    color: #110f0f;
    position: relative;

} 

#content {
    background-color:  rgba(240, 248, 255, 0.5);
    padding-bottom: 20px;
    background-position: center;
    
}

#content > * {
    width: 100%;
}

.welcome {

    margin-top: 200px;
    margin-bottom: -100px;
    margin-left: 400px;
}

.Intro {
    margin-top: 300px;
    margin-left: 600px;

}

.inputUser {
   
    margin-bottom: 30px;

}

.playButton {
    
    margin-left: 170px;

}